header{
  display: flex;
  align-items: center;
  background: linear-gradient(90deg,#702280, #884c96);
  height: 65px;
  padding-left:15px ;
}
header img{
  height: 26px;
  padding: 10px;
}

header h3{
  font-size: 20px;
  color: white;
  margin: 0;
}


